.table{
    margin-left: 8px;
    margin-right: 8px;
    background-color: #6e6969;

}
/* .edit button{
    margin: 4px 4px;

} */

.body{
 
    justify-content: center;
   
    background-color: #6e6969;
}
.btn{
    margin-top: 30px;
    margin-bottom: -5px;
}
.fa-solid{
    margin-top: 3px;
    margin-right: 1px;
}