
<div class="container">
    <div class="background-img">
        <!-- <img src="assets/Image/Lapi.png" alt="Image"> -->
    </div>
  

    <div class="main">
        <div class="btn d-flex justify-content-center align-items-center">
            <button class="btn btn-danger p-3  " (click)="toaster()">Toastr property</button>
        </div>

        <div class=" d-flex justify-content-center align-items-center mt-5">
            <button class="btn btn-danger" routerLink="/login">Wanna go login page</button>
        </div>
    </div>    
</div>    